body{

  background-image: url(https://images.unsplash.com/photo-1518882570151-157128e78fa1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80);
  background-repeat: repeat;
}

p{
  font-size: 32px;
  color: #Black;
  font-family: 'Fjalla One', sans-serif;

}

.mkDiv2{
  border: 5px outset black;
  background-image: url(https://images.unsplash.com/photo-1518882570151-157128e78fa1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-repeat: space;
  background-position: center;
  text-align: center;
  color: #B8860B;
font-family: 'Monoton', cursive;
  font-size: 21px;

}


.mkDiv{

  border: 5px outset black;

  background-image: url(https://images.unsplash.com/photo-1518882570151-157128e78fa1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);

  background-repeat: space;

  background-position: center;

  text-align: center;

  color: indigo;

font-family: 'Zen Kurenaido', sans-serif;

  font-size: 25px;



}



span{
  color: #B8860B;
  text-decoration: underline;
}



.right{
  float: right;
  width: 500px
}

.left{
float: left;
  width: 500px
}

.bottom{
  position: absolute;
    top: 800px;
    text-align: center;
}


.mid{

  background-image: url(https://images.pexels.com/photos/2387819/pexels-photo-2387819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-position: center;
}

img{
  right: 830px;
  position:  absolute;
  height: 400px;
  top:300px;
}

.mkEye{
  border: 5px outset white;
  background-color: white;
  text-align: center;
  position: absolute;
  top: 510px;
  left:690px;
  box-sizing: border-box;
   width: 680px;
   height: 40px;
}

.mkW{
  color: white;
}
